.rootContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.home{
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 100px;
    background-image: url("../pages/assets/homeBack.png");
}

.division{
    padding: 50px 170px 10px 170px;
    height: 80%;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    justify-content: center;
}

.title h1{
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", "serif";
    font-size: 80px;
    color: #3D3D3D;
}

.title p{
    color: #3D3D3D;
    padding: 0;
    font-size: 20px;
    margin: 0;
    font-family: "Josefin Sans", "serif";
}

.component{
    height: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../pages/assets/homeComponent.png");
}

.form{
    box-shadow: rgba(0, 0, 0, 0.29) 0 0 10px;
    width: 80%;
    margin: 20px 20px 20px 20px;
    align-self: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.form p{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", "serif";
}

.scheduleForm{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.input{
    margin-top: 10px;
    background-color: #F3F3F3;
    border-style: none;
    resize: none;
    padding: 15px;
    font-family: "Inter", "sans-serif";
}

.inputMessage{
    margin-top: 10px;
    background-color: #F3F3F3;
    border-style: none;
    resize: none;
    height: 150px;
    padding: 15px;
    font-family: "Inter", "sans-serif";
}

.button{
    width: 150px;
    background-color: #0482FA;
    border-style: none;
    margin-top: 20px;
    border-radius: 5px;
    font-family: "Inter", "sans-serif";
    font-weight: bold;
    color: white;
    align-self: end;
    padding: 10px;
    transition-duration: 200ms;
}

.button:hover{
    box-shadow: #0482FA 0 0 10px;
    transition-duration: 200ms;
}


@media screen and (max-width: 700px) {
    .home{
        margin-top: 100px;
        margin-left: 0;
        margin-right: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 150px 10px 10px 10px;
        background-repeat: no-repeat;
        background-size: 150vh;
        background-position-y: 70px;
        background-position-x: -300px;
        width: 100vw;
        background-image: url("../pages/assets/homeBack.png");
    }

    .division{
        padding: 0;
    }

    .title{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        align-self: center;
        justify-content: center;
    }
    .component{
        height: 10px;
        margin-bottom: 30px;
        width: 80%;
        background-size: contain;
        margin-top: 0;
        background-repeat: no-repeat;
        background-image: url("../pages/assets/homeComponent.png");
    }
    .title h1{
        padding: 0;
        margin-top: 5px;
        margin-bottom: 30px;
        font-family: "Playfair Display", "serif";
        font-size: 50px;
        color: #3D3D3D;
    }

    .title p{
        color: #3D3D3D;
        padding: 0;
        font-size: 20px;
        margin-bottom: 100px;
        font-family: "Josefin Sans", "serif";
    }

    .division{
        flex-direction: column;
    }
    .form{
        box-shadow: rgba(0, 0, 0, 0.29) 0 0 10px;
        width: 100%;
        margin-top: 20px;
        align-self: center;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
    }

    .form p{
        padding: 0;
        margin: 0;
        font-family: "Josefin Sans", "serif";
    }

}