.whatweoffer {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 150px 170px 10px 170px;
  padding: 30px;
  box-shadow: rgba(61, 61, 61, 0.34) 0 0 10px;
}
.whatweoffer h1 {
  align-self: center;
  font-family: "Playfair Display", "serif";
  margin-bottom: 50px;
}
.whatweoffer .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.whatweoffer .card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.whatweoffer .card .cardImage {
  height: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
}
.whatweoffer .card h1 {
  align-self: flex-start;
  margin-bottom: 0;
  font-family: "Playfair Display", "serif";
  font-size: 20px;
}
.whatweoffer .card p {
  margin-top: 10px;
  font-family: "Josefin Sans", "serif";
  margin-bottom: 70px;
}
.whatweoffer .card .points {
  justify-content: start;
  display: flex;
  flex-direction: row;
}
.whatweoffer .card .points .tick {
  align-self: center;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url("../pages/assets/selected.png");
}
.whatweoffer .card .points p {
  margin-top: 10px;
  font-family: "Josefin Sans", "serif";
  margin-left: 30px;
  align-self: center;
  margin-bottom: 5px;
}
.whatweoffer .card .button {
  width: 150px;
  background-color: #0482FA;
  border-style: none;
  margin-top: 40px;
  border-radius: 5px;
  font-family: "Inter", "sans-serif";
  font-weight: bold;
  color: white;
  align-self: start;
  padding: 10px;
  transition-duration: 200ms;
}
.whatweoffer .card .button:hover {
  box-shadow: #0482FA 0 0 10px;
  background-color: #0482FA;
  transition-duration: 200ms;
}

@media screen and (max-width: 700px) {
  .whatweoffer {
    margin: 130px 5px 5px 5px;
  }
  .whatweoffer .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .whatweoffer .content .card {
    margin-top: 50px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .whatweoffer .content .card .cardImage {
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
  }
  .whatweoffer .content .card h1 {
    align-self: flex-start;
    margin-bottom: 0;
    font-family: "Playfair Display", "serif";
    font-size: 20px;
  }
  .whatweoffer .content .card p {
    margin-top: 10px;
    font-family: "Josefin Sans", "serif";
    margin-bottom: 70px;
  }
  .whatweoffer .content .card .points {
    justify-content: start;
    display: flex;
    flex-direction: row;
  }
  .whatweoffer .content .card .points .tick {
    align-self: center;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-image: url("../pages/assets/selected.png");
  }
  .whatweoffer .content .card .points p {
    margin-top: 10px;
    font-family: "Josefin Sans", "serif";
    margin-left: 30px;
    align-self: center;
    margin-bottom: 5px;
  }
  .whatweoffer .content .card .button {
    width: 150px;
    background-color: #0482FA;
    border-style: none;
    margin-top: 40px;
    border-radius: 5px;
    font-family: "Inter", "sans-serif";
    font-weight: bold;
    color: white;
    align-self: start;
    padding: 10px;
    transition-duration: 200ms;
  }
  .whatweoffer .content .card .button:hover {
    box-shadow: #0482FA 0 0 10px;
    background-color: #0482FA;
    transition-duration: 200ms;
  }
}

/*# sourceMappingURL=whatweoffer.module.css.map */
